.login-page {

}
.login-div{
    align-items: center;
}
.login {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}
img {
    width: 100%;
    /* height: 80vh; */
    align-items: center;
}

.login-btn {
    margin-left: 45rem;
    margin-right: 40rem;
    padding: 20px 50px;
    border-radius: 25px;
    background-color: #1ad05a;
    font-weight: 600;
    color: rgb(225, 206, 206);
    text-align: center;
    text-decoration: none;
}

.login-btn:hover {
    background-color: #28964e;
    border-color: #159642;
    color: #fff;
}