.player {
  position: fixed;
  width: 100%;
  height: 129px;
  left: 0px;
  right: 0px;
  /* top: 1043px; */
  bottom: 0px;
  display: flex;

  background: #2e2e2e;
}

.profile-img {
  margin: 34px 35px;
  width: 74px;
  height: 74px;
  border-radius: 50%;

  flex: 1;
  order: 0;
  flex-grow: 0;
}

.song-name {
  width: 100px;
  height: auto;
  margin: 40px 0px 10px 10px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;
}

.artist-name {
  width: 78px;
  height: 16px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}

.skip-previous {
  align-self: center;
  margin-left: 90px;
  color: #ffffff;
}

.play-arrow {
  align-self: center;
  margin-left: 50px;
  color: #ffffff;
}

.skip-next {
  align-self: center;
  margin-left: 50px;
  color: #ffffff;
}

.volume-up {
  align-self: center;
  margin-right: 0px;
  color: #ffffff;
}

.track-time {
  align-self: center;
  margin: 20px;
  margin-right: 0px;
  margin-left: 60px;
  color: #ffffff;
}
.track-length-time {
  align-self: center;
  margin-left: 0px;
  margin-right: 20px;
  color: #ffffff;
}

.player-icon {
  transform: scale(1.2);
  color: rgb(243, 243, 243);
  margin: 2.2rem 1rem;
}
#track {
  flex: 0.55;
}

.track {
  height: 0.5rem;
  /* width: 60rem; */
  border-radius: 0.25rem;
  margin: 3.8rem;
  margin-right: 20px;
  margin-left: 20px;
  color: white;
  background: rgb(154, 154, 154);
}
.knob {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: white;
  transform: translate(-25%, -25%);
}
.knob:hover {
  cursor: pointer;
}
